.demoWritten {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-height: 90%;
  width: 750px;
  padding-bottom: 5rem;
  margin: 25px;
}

.demoWritten a {
  color: #1c73c5;
}



@media screen and (max-width: 415px) {
  .demoWritten {
    width: 100%;
    font-size: 0.9rem;
    padding: 25px;
  }
  

}