.demoScreenshare {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 750px;
  padding-bottom: 5rem;
}

@media screen and (max-width: 375px) {
  .demoScreenshare iframe {
   width: 45%;
  }
}