.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    margin: auto;
  }

  .container p {
    font-family: 'Karla';
    font-weight: 300;
    font-size: 1.5rem;
    margin: 5px;
    padding: 2px;
    width: 100%;
    overflow-wrap: break-word;
  }

  .container span, .container a {
    color: rgb(53, 165, 230);
  }

  .pHeader {
      font-size: 24px;
      /* margin-bottom: 2px; */
      margin: 0;
  }

  .centerText {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  @media screen and (max-width: 415px) {

    .container {
      justify-content: center;
      align-items: center;
    }
    .container p {
      margin-right: 30px;
      padding: 10px;
      font-size: 1.2rem;
      width: 70%;
    }
  }