.topContainer {
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: rgba(255, 255, 255, 1);
  background: black; 
  background: linear-gradient(to right, #232526, rgb(8, 8, 8));
}

@media screen and (max-width: 1200px) {
  .topContainer {
    height: 1018px;

  }
}


@media screen and (max-width: 800px) {
  .topContainer {
    height: 1500px;

  }
}

@media screen and (max-width: 415px) {
  .topContainer {
    height: 1500px;
    justify-content: flex-start;
  }
}