.titleContainer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  background-color: transparent;
  border-radius: 30px;
  font-size: 18px;
  text-align: center;
}

.titleContainer h1 {
  font-family: "Bungee";
  font-size: 128px;
  color: rgb(105, 181, 252);
  margin: 0;
  margin-top: -50px;
}


.titleLogo {
  display: flex;
  flex-direction: column;
}


.codeBtn,
.npmBtn {
  background-color: rgba(255, 255, 255, 0.97);
  color: rgba(0, 0, 0, 0.8);
  border-style: none;
  font-size: 14px;
  width: 15rem;
  min-height: 3.5rem;
  font-weight: bold;
  border-radius: 2rem;
}

.codeBtn {
  margin-bottom: 10px;
}

.codeBtn:hover,
.npmBtn:hover {
  background-color: rgb(105, 181, 252);
  cursor: pointer;
}

.mainImage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: linear-gradient(to right, #101111, rgb(8, 8, 8));
}

.mainImage h3 {
  font-family: "Karla";
  font-size: 29px;
  margin: auto;
  width: 70%;
  text-align: center;
  padding: 40px;
}

.containerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.underHeading {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-left: 10px;
  font-family: "Karla";
  font-size: 40px;
}


@media screen and (max-width: 1200px) {

  .titleContainer {
    height: 700px;
  }
  .mainImage {
    height: 318px;
  }

  }


  @media screen and (max-width: 800px) {
    .mainImage h3 {
      padding: 0;
    }
  }


  @media screen and (max-width: 415px) {

    .titleContainer {
      min-height: 1000px;
    }
    .mainImage {
      min-height: 500px;
    }
    .underHeading {
      height: 250px;
    }
  
  }